body{
	margin:0px;
	padding: 0px;
	background-color:#23272A;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.sidenav {
  border-radius: 10px;
  height: 95.5%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #31363A;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#31363A;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
    position: relative;
    border-radius: 5px;
	width: 75px;
	left: 17px;
}
.info{
position: relative;
color: white;
top: -99px;
left: 120px;

}

.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: white;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #272c4a;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 70%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: white;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-4{
    border-radius: 10px;
	width: 110%;
	background-color: #31363A;
	height: 380px;

}
.nav2{
	display: none;
}

.box-8{
    position: relative;
    border-radius: 10px;
	width: 110%;
	background-color: #31363A;
	height: 510px;
	top: 10px;
}

.extension{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: 15px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.extension::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.extension:hover::after {
    color: #272c4a;
}
select{
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #23272A;
    background-image: none;
    font-size: 1em;
    flex: 1;
    padding: 0 .5em;
    color: white;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
.motsinterdis{
    position: relative;
    top: 15px;
}
.anti-spam{
    position: relative;
    top: 20px;
}
.anti-spams{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: 20px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.anti-spams::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.anti-spams:hover::after {
    color: #272c4a;
}
.liens{
    position: relative;
    top: 25px;
}
.lien{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: 25px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.lien::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.lien:hover::after {
    color: #272c4a;
}
.mention{
    position: relative;
    top: -210px;
    left: 520px;
}
.mentions{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: -210px;
    left: 520px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.mentions::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.mentions:hover::after {
    color: #272c4a;
}
.majuscule{
    position: relative;
    top: -205px;
    left: 520px;
}
.majuscules{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: -205px;
    left: 520px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.majuscules::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.majuscules:hover::after {
    color: #272c4a;
}
.emojis{
    position: relative;
    top: -200px;
    left: 520px;
}
.emoji{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: -200px;
    left: 520px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.emoji::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #272c4a;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.emoji:hover::after {
    color: #272c4a;
}
.zalgo{
    position: relative;
    top: -200px;
}
.zalgos{
    position: relative;
    display: flex;
    width: 30.5em;
    height: 3em;
    line-height: 3;
    top: -200px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
}
.zalgos::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;box-4
    background: #23272A;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.zalgos:hover::after {
    color: #272c4a;
}
.disconnect{
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #DA373C;
    position: absolute;
    height: 40px;
    width: 130px;
    top: 465px;
    left: 1085px;
    cursor: pointer;
}
.auto{
   position: absolute;
   top: 20px;
}
.auto-mod{
   position: absolute;
   top: 60px;
}
.auto-mod-averti{
   position: absolute;
   top: 60px;
   left: 125px;
   font-size: 20px;
   border-radius: 10px;
}
.aver{
   position: absolute;
   top: 60px;
   left: 165px;
}
.raison{
   position: absolute;
   top: 60px;
   left: 300px;
   font-size: 20px;
   border-radius: 10px;
}
.uti{
   position: absolute;
   top: 60px;
   left: 400px;
}
.anti{
   position: absolute;
   top: 120px;
}
.log{
   position: absolute;
   top: 280px;
}
.logchannel{
    position: relative;
    display: flex;
    width: 25em;
    height: 3em;
    line-height: 3;
    top: 230px;
    left: -1px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
   }
.xplog{
   position: absolute;
   top: 380px;
}
.xplogchannel{
    position: relative;
    display: flex;
    width: 25em;
    height: 3em;
    line-height: 3;
    top: 255px;
    left: -1px;
    background: #C9C9C9;
    overflow: hidden;
    border-radius: 3.5px;
   }