body{
	margin:0px;
	padding: 0px;
	background-color:#23272A;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
	padding:20px;
}
.discord-img{
    position: relative;
    border-radius: 5px;
	width: 40px;
	top: 5px;
	left: -13px;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #272c4a;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.col-div-8{
	width: 70%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8{
	width: 95%;
	background-color: #31363A;
	height: 330px;

}

.box-8{
    border-radius: 10px;
	margin-left: 24%;
	margin-top: 20%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}