<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Authenticate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" type="text/css"/>
</head>
<body>
<form method="GET" action="{{ url_for('discordss') }}">
    <a href="{{ url_for('discordss') }}">Connect with discord</a>
</form>


</body>
</html>