<!Doctype HTML>
<html>
<head>
	<title>Duck-mirrador</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>Duck-</span>mirrador</p>
  <a href="{{ url_for('dashboard') }}" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a href="{{ url_for('administration') }}"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Administration</a>
  <a href="{{ url_for('moderation') }}"class="icon-a"><i class="fa fa-shield icons"></i> &nbsp;&nbsp;Modération</a>
  <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Serveur</a>
  <a href="{{ url_for('info_account') }}"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Accounts</a>
  <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Ticket Manager</a>
  <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Invite Manager</a>

</div>
<div id="main">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	
	<div class="col-div-6">
	<div class="profile">

		<img src="{{ avatars_image }}" class="pro-img" />
		<p>{{ username }}<span>Administrateur</span></p>
	</div>
</div>
	<div class="clearfix"></div>
</div>

	<div class="clearfix"></div>
	<br/>
	
	<div class="col-div-3">
		<div class="box">
			<p>{{ member_server }}<br/><span>Membres</span></p>
			<i class="fa fa-users box-icon"></i>
		</div>
	</div>
	<div class="col-div-3">
		<div class="box">
			<p>Aucun<br/><span>évènement</span></p>
			<i class="fa fa-list box-icon"></i>
		</div>
	</div>
	<div class="col-div-3_sp">
		<div class="box">
			<p><img src="{{ icon_server }}" class="discord-img" />{{ name_server }}<br/><span>Serveur actuelle</span></p>
			<i class="fa fa-tasks box-icon"></i>
		</div>
	</div>
	<div class="clearfix"></div>
	<br/><br/>
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			<p style="color: white;">Manage serveur</p>
			<br/>
			<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Manage</th>
  </tr>
  {% for payloads in server_list %}
  <form action="{{ url_for('dashboard') }}" method="post">
  <tr>
    <td><img src="{{ payloads['icon'] }}" class="discord-img" />{{ payloads['nom'] }}</td>
    <td>{{ payloads['id_server'] }}</td>
    <td>
		<input type="hidden" name="server_id" value="{{ payloads['id_server'] }}">
        <input type="hidden" name="server_name" value="{{ payloads['nom'] }}">
        <input type="hidden" name="server_icon" value="{{ payloads['icon'] }}">
        <button style="font-size: 40px; background-color: transparent; border: none;">
			<i class="fa fa-solid fa-gear" style="cursor: pointer;"></i>
		</button>
	</td>
  </tr>
  </form>
  {% endfor %}
  
</table>
		</div>
	</div>
	</div>

	<div class="col-div-4">
		<div class="box-4">
		<div class="content-box">
			 <iframe src="https://discord.com/widget?id={{ id_serveur }}&theme=dark" width="395" height="330" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class="discord"></iframe>
    </div>
  </div>
		</div>
	</div>

	<div class="clearfix"></div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
